<div class="row">
    <div class="span12">
        <h1> {{klass.name}}</h1>
        <hr>
    </div>
</div>        

<div class="row">
    <div class="span5">
        <form>
            <legend>Load Roster</legend>   
            <input type="file"> <input type="submit" class="btn">
        </form> 
        
        
        <form>
            <legend>Add note to all checked students</legend>
            <textarea rows="5" cols="200" ng-model="multinote" save-focus id="multinote"> </textarea>
            <input type="submit" class="btn">
        </form>

    </div>
</div>

<div class="row">
    <div class="span12">
        <h2> Students </h2>
        
        <tabs>
            <pane ng-repeat="status in status_map" title={{status.long_name}}>
                <table class="table table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th> 
                             <input type="checkbox" ng-model="select_options.all" ng-show="$first">
                             Msg
                        </th>
                        <th ng-repeat="col in header_map">{{col.value}}</th>
                      </tr>
                    </thead>
                    <div ng-init="$top_first=$first;"></div>
                    <tbody>
                      <tr ng-repeat="inter in klass.interactions | filter:{'status':status.short_name}"
                      ng-class="teacher_classes[inter.teacher]">
                        <td> 
                            <input type="checkbox" ng-model="inter.send_msg" ng-show="$top_first">
                        </td>
                        <td ng-repeat="col in header_map"
                            ng-class="{passing: score_columns.indexOf(col.key)>=0&&(inter.student[col.key]>=400||inter.student[col.key].indexOf('FE')>=0)}">
                            <ng-switch on="col.key"> 
                                <span ng-switch-when="dec">
                                    <input type="checkbox" ng-model="inter.student.dec">
                                </span> 
                                <span ng-switch-when="p1">
                                    <input type="checkbox" ng-model="inter.q1">
                                </span> 
                                <span ng-switch-when="p2">
                                    <input type="checkbox" ng-model="inter.q2">
                                </span>      
                                <span ng-switch-when="status">
                                    <select class="span1" ng-model="inter.status"
                                    ng-options="o.key as o.short_name for o in status_map">
                                    </select>
                                </span>
                                <span ng-switch-when="teacher">
                                    <select class="input-small" ng-model="inter.teacher"
                                    ng-options="key for key in teacher_types">
                                    </select>
                                </span>
                                <span ng-switch-default>
                                    <a ng-href="index.html#/interactions/{{inter.id}}">{{inter.student[col.key]}}</a>
                                </span>    
                            </ng-switch>    
                        </td>
                      </tr>
                    </tbody>
                </table>
            </pane>
        </tabs>
    </div>
</div>      