<div class="row">
    <div class="span12">
        <h1> {{klass.name}}</h1>
        <hr>
    </div>
</div>        

<div class="row">
    <div class="span5">
        <form>
            <legend>Load Roster</legend>   
            <input type="file"> <input type="submit" class="btn">
        </form> 
        
        
        <form>
            <legend>Add note to all checked students</legend>
            <textarea rows="5" cols="200" ng-model="multinote"> </textarea>
            <input type="submit" class="btn">
        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h2> Students </h2>
        <tabs>
            <pane title="Enrolled">
            </pane>
            <pane title="Withdrawn">
            </pane>
            <pane title="Admitted">
            </pane>
        </tabs>
    </div>
</div>      