<div class="row"><div class="span12">
    <h1><a ng-href="#/classes/{{klass.id}}">{{klass.name}}</a> : {{student.first_name}} {{student.last_name}}</h1>
</div></div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th ng-repeat="col in header_map">{{col.value}}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                <td ng-repeat="col in header_map"
                            ng-class="{passing: score_columns.indexOf(col.key)>=0&&(student[col.key]>=400||student[col.key].indexOf('FE')>=0)}">
                            {{student[col.key]}}
                </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span6">
        <h3>Student Notes</h3>
        <div class="control-group" ng-init="save_class=null" ng-class="save_class">
        <textarea ng-model="student.notes" rows="5" class="span5" save-focus ng-focus="onFocus()"></textarea>
    </div>
    </div>
    <div class="span6">
        <h3>Other Info</h3>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputStatus">Status</label>
                <div class="controls">
                    <select class="input-mini" ng-model="interaction.status"
                      ng-options="o.key as o.short_name for o in status_map">
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Teacher</label>
                <div class="controls">
                    <select class="input-small" ng-model="interaction.teacher"
                    ng-options="key for key in teacher_types">
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Proctoring</label>
                <div class="controls">
                    <input type="checkbox" ng-model="interaction.q1"> P1 |
                    <input type="checkbox" ng-model="interaction.q2"> P2
                </div>
            </div>
            <!--<div class="control-group">
                <button type="submit" class="btn" ng-click="save_interaction();">Save</button>
            </div>-->
        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3>Add a Note</h3>
        <form class="form-horizontal">
        <textarea rows="5" class="span5" ng-model="new_note" id="new_note_txt"></textarea>
        <button type="submit" class="btn" ng-click="add_note(new_note)">Record</button>
        </form>
    </div>  
</div> 

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-stripped" ng-init="predicate='timestamp';reverse=true;">
            <thead>
              <tr>
                <th style="width:10%"><a href="" ng-click="predicate='klass.name';reverse=!reverse;">Class</a></th>
                <th style="width:18%"><a href="" ng-click="predicate='timestamp';reverse=!reverse;">Date</a></th>
                <th style="width:40%; word-wrap:break-word;">Note</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="record in student.records | orderBy:predicate:reverse">
                <td>{{record.klass.name}}</td>
                <!--<td>{{note.date_time | date:'MM/dd/yyyy' }}</td>-->
                <td>
                    {{ record.timestamp | date:'MM/dd/yyyy'}}
                </td>
                <td>{{record.notes}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
